/* Topics Section */

a {
	text-decoration: none;
	color: unset;
}

.topics {
	background-color: var(--bg_body);
	padding-top: 25px;
	color: var(--body-text);
}

.topics .search-bar {
	background-color: var(--bg_default);
	display: flex;
	align-items: center;
	gap: 5px;
	box-shadow: rgba(0, 0, 0, 0.15) 0 0rem 1rem;
	border-radius: 10px;
	width: 100%;
	margin-bottom: 20px;
	height: 50px;
}

.topics .search-bar .search-icon {
	padding-left: 15px;
}

.topics .search-bar .search-input {
	display: flex;
	align-items: center;
	border-right: 1px solid var(--lines-color);
	width: 70%;
	height: 100%;
}

.topics .search-bar input {
	color: var(--body-text);
	background-color: var(--bg_default);
	border: 0;
	font-size: 16px;
	padding: 0 7px;
	width: 100%;
	height: 100%;
}

.topics .fields {
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 15px;
	height: 100%;
	width: 30%;
}

.topics .fields > div {
	border-right: 1px solid var(--lines-color);
	padding-right: 5px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
}

.topics .fields > div:last-of-type {
	border-right: 0px !important;
	padding-right: 10px;
}

.topics .fields label {
	font-size: 14px;
	margin-left: 3px;
}

.topics .fields select {
	border: 0;
	color: var(--body-text);
	background-color: var(--bg_default);
	width: 100%;
	font-size: 16px;
}

.topics .container .web-topics .topics-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	flex-wrap: wrap;
	margin-top: 15px;
}

.topic {
	border-radius: 10px;
	overflow: hidden;
	background-color: var(--bg_default);
	width: 19.4%;
	height: 300px;
	word-break: break-all;
}

.topic .info {
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 5px 15px;
}

.topics-container img {
	width: 100%;
	height: 45%;
	object-fit: cover;
	text-align: center;
}

/* Topics Section */
